*{
    font-family: 'Lato';
  }
  
  #profile-grid { overflow: auto; white-space: normal; }
  #profile-grid .profile { padding-bottom: 40px; }
  #profile-grid .panel { padding: 0 }
  #profile-grid .panel-body { padding: 15px }
  #profile-grid .profile-name { font-weight: bold; }
  #profile-grid .thumbnail {margin-bottom:6px;}
  #profile-grid .panel-thumbnail { overflow: hidden; }
  #profile-grid .img-rounded { border-radius: 4px 4px 0 0;}

