<link rel="stylesheet" href="{% static 'css/flipcards2.css' %}">
<div class="wrapper">
    <div class="card">
        <div class="content">
            <div class="front" style="{% static 'img/f5-logo.png' %}" alt="BG" style="width:100%">
                <div class="inner">
                    <h2>F5 Load Balance</h2>
                    <label for="card1" class="button" aria-hidden="true">
                    Details
                    </label>
                </div>
            </div>
            <div class="back">
                <div class="inner">
                    <div class="info">
                        <span>30%</span>
                        <div class="icon">
                            <i class="fa fa-check " style="color: #228B22;"></i>
                            <span>Completed</span>
                        </div> 
                    </div>
                    <div class="info">
                        <span>40%</span>
                        <div class="icon">
                            <i class="fa fa-close" style="color: #FF0000;"></i>
                            <span>Incompleted</span>
                        </div> 
                    </div>
                    <div class="info">
                        <span>30%</span>
                        <div class="icon">
                            <i class="fa fa-exclamation-triangle " style="color: #FFFF00;"></i>
                            <span>Error</span>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>